.wrap {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.wrap .todo-wrap {
  height: 500px;
  padding: 0 40px;
  border: 3px solid #000;
  background: linen;
}

.todo-header {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 3px solid #000;
}

.todo-btn-wrap {
  position: absolute;
  right: 10px;
  bottom: 0px;
  height: 60px; 
}

.todo-btn-wrap .create-todo, .change-mode-todo {
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 5px;
  background: none;
  font-size: 13px;
}

.todo-btn-wrap .create-todo-pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
}

.todo-btn-wrap .create-todo-pop .close-create-pop {
  float: right;
  width: 25px;
  height: 25px;
  background: #000;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.create-todo-pop .close-create-pop:hover {
  transition: all .5s;
  background: #fff;
  color: #000;
  font-weight: 900;
}

.create-todo-pop .create-todo-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 300px;
  height: 100px;
  margin: auto;
  padding: 50px;
  background: rgba(255, 255, 255, 0.5);
}

.create-todo-form .create-todo-title {
  margin: 0 0 10px 0;
  border-bottom: 3px solid #000;
  font-size: 20px;
  font-weight: bold;
}